html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #272727;
    font-family: "Georgia", serif;
    font-size: 20px;
    line-height: 25px;
}

header {
    padding: 20px 30px 30px;

    background-color: #f4f4f4;

    z-index: 100;

    position: absolute;
        top: 0;
        left: 41%;

    &.fixed {
        position: fixed;
    }

    h1 {
        font-family: "Didot", serif;
        font-size: 40px;
        margin: 0;
        line-height: 35px;
        text-transform: uppercase;

        & + p {
            font-style: italic;
            line-height: 0;
            margin-bottom: 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: hsl(0, 0%, 54%);
            font-size: 16px;
        }
    }
}

.overview {

    height: 100%;

    article {

        position: relative;

        z-index: 0;

        overflow: hidden;

        width: 50%;
        height: 50%;

        &:first-child {
            height: 100%;

            img {
                width: auto;
                height: 100%;
            }
        }

        float: left;

        img {
            heigth: auto;
            width: 100%;
        }

        &:hover {
            cursor: pointer;
        }

        .title {

            position: absolute;
                bottom: 0;
                left: 0;
                right: 0;

            display: block;

            height: 100px;

            margin: 0;
            padding: 20px;

            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

            &:after {
                display: block;
                position: absolute;
                content: '';
                width: 20px;
                height: 20px;
                bottom: 35px;
                transform: rotate(45deg);
                border-right: 1px solid #aaaaaa;
                border-top: 1px solid #aaaaaa;
                right: 30px;
            }

            h2 {
                position: absolute;
                left: 20px;
                bottom: 0;

                max-width: 80%;

                padding-bottom: 10px;

                font-size: 30px;
                font-family: "ExpressWay", serif;
                font-style: italic;
                text-transform: uppercase;

                letter-spacing: 3px;
                line-height: 35px;
                font-weight: 100;

                color: #efefef;

                border-bottom: 1px solid #aaaaaa;
            }

        }

    }

}

.story {
    height: 100%;
    padding-bottom: 100px;

    article {

        height: 100%;

        section.media {

            background-color: black;
            max-height: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                opacity: 0.3;
            }

            .title {

                position: absolute;
                    bottom: 0;
                    left: 50%;
                z-index: 100;

                margin-left: -25%;

                padding: 5%;
                padding-top: 2.5%;

                width: 40%;

                margin-bottom: 50px;

                h2 {
                    margin: 0;
                    font-family: "Didot", sans-serif;
                    text-transform: uppercase;
                    font-weight: 200;
                    font-size: 70px;
                    text-align: center;
                    line-height: 70px;
                    color: #dadada;

                    border-top: 1px solid #919191;
                    border-bottom: 1px solid #919191;
                    padding-top: 40px;
                    padding-bottom: 40px;
                }

            }

        }

        section.copy {
            padding: 5vw 30vw;
            background-color: #eeeeee;

            p + p {
                margin-top: 50px;
            }

            h3 {
                font-size: 40px;
            }

        }
    }

}

footer {
    position: fixed;
        bottom: 0;
        z-index: -1;
    color: #565656;
    background-color: #2e2e2e;
    padding: 5vw 30vw;
}