<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header class="fixed">
      <h1>Journey</h1>
      <p>By YWAM Amsterdam</p>
    </header>

    <div class="overview">

      <article>

        <img src="http://image.vsco.co/1/53cf9df4978df822512/541be1d473670825338b4688/1600x1200/c676375f-4169-43f2-b02b-877c28e0230d.jpg">
        <div class="title">
          <h2>Catchy title here</h2>
        </div>

      </article>

      <article>

        <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/10373063_10201817081974827_884909885529465441_o.jpg">
        <div class="title">
          <h2>Catchy title here</h2>
        </div>

      </article>

      <article>

        <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10374848_10152436444030914_366485393481542801_n.jpg?oh=4b1b3cdcd96f2e1b2d5fab0f8a0cb3e3&oe=54CA4C6D&__gda__=1422253885_d8d4fb6f302045893d471aa8e2f3fcba">
        <div class="title">
          <h2>Catchy title here</h2>
        </div>

      </article>

      <article>

        <img src="http://image.vsco.co/1/53cf9df4978df822512/53ee799a736708f96d8b45e1/1600x1200/8162a5e4-9734-4864-bcd8-6803061ad530.jpg">
        <div class="title">
          <h2>Catchy title here</h2>
        </div>

      </article>

      <article>

        <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10645225_10152488166935914_3694459929758086662_n.jpg?oh=c383c24ef2201ba2c4a37d89fdf8b8be&oe=54B004B4&__gda__=1422047650_21768b9c48df3fe9fb5c4d3b3b1061ac">
        <div class="title">
          <h2>Catchy title here</h2>
        </div>

      </article>

    </div>

    <footer>
      <p>Journey is an online magazine published by YWAM Amsterdam</p>
    </footer>

  </body>

</html>
