<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header>
      <h1>Journey</h1>
      <p>By YWAM Amsterdam</p>
    </header>

    <div class="overview">

      <article>

        <img src="https://scontent-b.xx.fbcdn.net/hphotos-xpa1/t31.0-8/10571933_10152494391400914_6430280868019401248_o.jpg">
        <div class="title">
          <h2>Catchy title here</h2>
        </div>

      </article>

      <article>

        <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/10373063_10201817081974827_884909885529465441_o.jpg">
        <div class="title">
          <h2>Catchy title here</h2>
        </div>

      </article>

      <article>

        <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10374848_10152436444030914_366485393481542801_n.jpg?oh=4b1b3cdcd96f2e1b2d5fab0f8a0cb3e3&oe=54CA4C6D&__gda__=1422253885_d8d4fb6f302045893d471aa8e2f3fcba">
        <div class="title">
          <h2>Catchy title here</h2>
        </div>

      </article>

      <article>

        <img src="https://scontent-a.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10616650_10152501597640914_7835028339491746920_n.jpg?oh=87402e8ce9fb30d1e476361a65a05718&oe=54C8EE15">
        <div class="title">
          <h2>Catchy title here</h2>
        </div>

      </article>

      <article>

        <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10645225_10152488166935914_3694459929758086662_n.jpg?oh=c383c24ef2201ba2c4a37d89fdf8b8be&oe=54B004B4&__gda__=1422047650_21768b9c48df3fe9fb5c4d3b3b1061ac">
        <div class="title">
          <h2>Catchy title here</h2>
        </div>

      </article>

    </div>

  </body>

</html>
